doctype html
html(lang="en")
    head
        title Razstavljalec besed
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="description" content="learning projects freeCodeCamp")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        if  isMobile == true
            link(type="text/css" rel="stylesheet" href="./assets/styles/style_mobile.css")
        else if isMobile !== true
            link(type="text/css" rel="stylesheet" href="./assets/styles/style.css")
        link(type="text/css" rel="stylesheet" href="./assets/styles/normalize.css")
    body        
        .container
            h1.main-header Razstavljanje Besed
            form(class="container__form" action="/wordLookup" method="post" enctype="application/x-www-form-urlencoded")
                fieldset.container__form__fieldset 
                    legend.container__form__legend
                        input(class="container__form__txtinput" type="text" name="wordUpload" placeholder="vpiši iskalni niz")
                        br
                        input(class="container__form__submit" type="submit" name="submit")
                        if matches == "no result" 
                            p.container__resultLabel Poizvedba ni vrnila rezultatov!
                        else if matches == "error" 
                            p.container__resultLabel Napačen vnos, pazite na posebne znake!
                        else if matches != null && nr !== -1
                            br
                            p.container__resultLabel Najdenih 
                                span.coreNr #{nr} 
                                span besed v 
                                span.coreWord "#{word.toUpperCase()}":                
                            br
                            .container__form__ul
                                ul.container__results
                                    each val in matches
                                        li= val
            p.codedby Coded By 
                a(href="https://codepen.io/Roky/full/YqGqWg") Roky